<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Real Time Chat</title>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="../script.js"></script>
</head>
<body>
    <input type="text" id="mensagem">
    <button type="submit" id="btn">Enviar Mensagem</button>

    <div class="mensagens">


    </div>

</body>
    <script src="js/app.js"></script>
</html>